# Docker env
SERVER="development"

# Postgres env
POSTGRES_USER=geodata
POSTGRES_PASSWORD=geodata
POSTGRES_DATABASE_NAME=geodata
# https://www.postgresql.org/docs/current/libpq-envars.html
PGPORT=5450
POSTGRES_URL=pgsql
PGDATA="/data/pgsql"

# GEO SERVER
PORTGS=8100
STABLE_EXTENSIONS="ysld,h2,gdal,netcdf-out,netcdf,sqlserver,excel,authkey,mysql,mongodb,vectortiles,querylayer,printing,oracle,xslt"

# -------------------------------------------------------------------------------------
# Extension GEO SERVER
# -------------------------------------------------------------------------------------
# app-schema   gdal            jp2k          ogr-wps          web-resource
# authkey      geofence        libjpeg-turbo oracle           wmts-multi-dimensional
# cas          geofence-server mapml         params-extractor wps-cluster-hazelcast
# charts       geopkg-output   mbstyle       printing         wps-cluster-hazelcast
# control-flow grib            mongodb       pyramid          wps-download
# css          gwc-s3          monitor       querylayer       wps-jdbc
# csw          h2              mysql         sldservice       wps
# db2          imagemap        netcdf-out    sqlserver        xslt
# dxf          importer        netcdf        vectortiles      ysld
# excel        inspire         ogr-wfs       wcs2_0-eo